@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: #333;
    color: #fefefe;
    font-family: 'Open Sans', sans-serif;
}

a:visited {
    color: lightseagreen;
}
